################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/RoueDeLaChance.Core/bin
/RoueDeLaChance.Core/obj
/RoueDeLaChance.Front/bin
/RoueDeLaChance.Front/obj
/RoueDeLaChance.Tests/bin
/RoueDeLaChance.Tests/obj
/RoueDeLaChance.Web/bin
/RoueDeLaChance.Web/obj
RoueDeLaChance.Web/wwwroot/
test_results.txt
